<div id="searchSub" class="navbar navbar-expand-sm searchSubnav">

	<div class="container">

		<% if params[:find].present? %>
			<% @query = params[:find] %>
		<% else %>
			<% @query = params[:q] %>
		<% end %>

		<%= form_tag search_action_url, method: :get, class: 'search-query-form allSearch', role: 'search', 'aria-label' => t('blacklight.search.form.submit') do %>
			<%= render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>
			<div class="input-group">
			
					<label for="q" class="sr-only">Search UAlbany's history...</label>

					<%= text_field_tag :q, params[:q], placeholder: "Search UAlbany's history...", class: "search-q q form-control rounded-0", id: "q", autofocus: presenter.autofocus?, data: { autocomplete_enabled: presenter.autocomplete_enabled?, autocomplete_path: search_action_path(action: :suggest) }  %>

					<div class="input-group-append">
					<button id="currentSelection" class="btn btn-secondary dropdown-toggle searchSelect" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						UAlbany History</button>
						<button class="btn btn-secondary dropdown-toggle searchSelect noText" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
							<div class="dropdown-menu searchOptions">
								<a class="dropdown-item" data="allSearch" id="allSearch">Everything</a>
								<a class="dropdown-item" data="arclightSearch" id="arclightSearch">Collections</a>
								<a class="dropdown-item" data="hyraxSearch" id="hyraxSearch">Digital Selections</a>
								<a class="dropdown-item" data="historySearch" id="historySearch">UAlbany History</a>
							</div>
						<button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
					</div>
		  	</div>
		<% end %>

		
		<a class="aboutSearch" href="/search"><i class="fa fa-question-circle"></i> Search Help</a>
	
		<!-- Moved back to _show_breadcrumbs_default
		<div id='alight-utils'>
			<%# render 'shared/user_util_links' %>
  		</div>
  		-->


	</div>

</div>