<div class="d-flex align-items-center">
	<div class="navbar navbar-expand-sm search-source flex-fill">
		<div class="source-box <%= container_classes %>">
			<h2 class="search-intro"><%= source_name %></h2>
			<% if defined? render_search_bar %>
				<%# For blacklight  %>
				<%= render_search_bar %>
			<% else %>
				<%# For quicksearch  %>
				<%= render partial: 'grenander/search_bar' %>
			<% end %>
		</div>
	</div>
</div>