<div class="d-flex align-items-center">
	<div class="navbar navbar-expand-sm search-source flex-fill">
		<div class="source-box <%= container_classes %>">
			<h2 class="search-intro"><%= source_name %></h2>
			  <%= render_search_bar(params: @params, q: @q, search_field: @search_field) %>
		</div>
	</div>
</div>