<h2 class="facets-heading">Search</h2>

<ul class="nav nav-pills flex-column search-sources">
  <li class="nav-item">
    <a class="nav-link" href="#">Everything</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">All Collections</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Online Content</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">UAlbany History</a>
  </li>
  <li class="nav-item selected">
    <a class="nav-link active" href="#">Mathes Childrens Literature</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Rare Books</a>
  </li>
</ul>