/* Source Options menu */

.search-sources li.nav-item a {
	display: none;
	padding: 0.2rem 1rem;
}

.more-sources .btn {
	margin-top: .3rem;
}

.more-sources .btn:after{
    content: '-';
}

.more-sources .btn.collapsed:after{
    content: '+';
}

.more-sources .btn-info:focus {
	background-color: #138496 !important;
	border-color: #117a8b !important;
	box-shadow: 0 0 0 0.2rem rgba(58,176,195,0.5) !important;
	outline: none !important;
}

.more-sources .btn-info:hover {
	background-color: #138496 !important;
	border-color: #117a8b !important;
}

.more-sources .btn-info:active {
	background-color: #117a8b !important;
	border-color: #10707f !important;
}


@media (min-width: 992px) {
	.search-sources li.nav-item a {
		display: block;
	}
	.more-sources {
		display: none;
	}
	.shrink-search-options {
		min-height: 0;
	}
}

.shrink-search-options {
	min-height: 150px;
}

.shrink-search-options .search-sources li.nav-item a {
	display: none;
}

.shrink-search-options .more-sources {
	display: block;
}

.search-sources li.nav-item a.active {
	background-image: image_url('grenander/index.png');
	background-color: #46166B;
	background-position: center right;
	background-repeat: no-repeat;
	border-left: 5px solid #006c68;
	border-radius: 0px;
	display: block;
	color: #EBE6F0;
}

.facets-heading {
	font-size: 1.5rem;
	margin-top: 0.5rem;
}

/* Search Box */

.search-source {
	padding-bottom: 1.2rem;
	background-color: #642a90;
	padding: 0rem 1.25rem;
	z-index: 9;
	top: 0px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@media (max-width: 575.98px) {
  .search-source {
  	padding: 1rem;
  }
  .search-source .source-box .search-intro {
  	margin: auto;
  }
}

.search-query-form {
	flex-grow: 1;	
}

.search-query-form .input-group #search_field {
	display: none;
}

.search-query-form {
	margin-top: 1rem;
}

.source-box {	
	background-image: image_url('grenander/search-lighten10.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top left;
	min-height: 100px;
}

#search-sources-menu {
  margin-bottom: 0;
}

.search-row .container .row section .d-flex {
	height: 100%;
}

.search-source .search-query-form input {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.search-source h2.search-intro {
	display: inline-block;
	color: #ffffff;
	text-align: center;
	margin-right: 25px;
	margin-left: 20px;
	font-weight: 400;
	text-shadow: 3px 3px 5px #46166b;
}

.search-source .container-fluid {
	justify-content: center;
}

.search-source .container-fluid form {
	flex-grow: 1;
}

.search-source .btn-primary {
	background-color: #9e68c7;
	border-color: #9e68c7;
}

.search-source .btn-primary:hover,
.search-source .btn-primary:focus,
.search-source .btn-primary:active,
.search-source .btn-primary.active {
	color: #46166B;
	background-color: #eaaa00;
	border-color: #eaaa00;
}

.search-source .input-group-append button#search:hover, .input-group-append button#search:active {
	  color: #fff;
	  background-color: #eaaa00;
	  border-color: #eaaa00;
	}

.search-source .input-group-append button#search:focus {
	box-shadow: 0 0 0 0.2rem #46166B;
}
	
.search-source .input-group-append span:hover, .input-group-append span:active {
	  color: #fff;
  }

.form-control:focus {
	border-color: #46166B;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #46166B;
}

 /* Search Row Background */

 .search-row {
 	/*background-image: url("https://archives.albany.edu/web/sliderImages/default/mpa3.jpg");*/
 	margin-bottom: 1rem;
 }

/* BS5 moved to dark font */
.btn-info, .btn-info:hover, .btn-info:active {
	color: #fff !important;
}
